@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
}
p {
  font-size: 15px;
  padding-bottom: 35px;
  line-height: 1.5;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  padding-bottom: 35px;
}

img {
  object-fit: contain;
  width: 50px;
  padding: 35px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.whole-card {
  display: flex;
  flex-direction: column;
  margin: 7%;
}
.card {
  padding: 0px 35px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}
.sedans button {
  color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 10px 10px;
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
.learn-more {
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid transparent;
  margin-bottom: 35px;
  background-color: hsl(0, 0%, 95%);
}
.learn-more:hover {
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}


@media screen and (min-width: 800px) {
  .whole-card {
    flex-direction: row;
    margin: 7%;
    max-width: 1100px;
  }
  .sedans {
    border-radius: 10px 0px 0 10px;
  }
  .luxury {
    border-radius: 0px 10px 10px 0px;
  }
  p {
    padding-bottom: 80px;
  }
}

.second-page {
  font-size: 11px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}
.second-page a {
  color: hsl(228, 45%, 44%);
}